{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
         <div class="col-3 offset-1">
            <h3>Скоро тут все поменяется</h3>
             <form action="">

                 <label for="city">Город</label>
                 <input type="text" id="city" class="form-control" name="city" placeholder="Введите город">

                 <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
             </form>
         </div>
    </div>
</div>


{% endblock %}
